.form-elem li .msg-wrapper{
	margin-left:250px;
	width: 300px;
}
.upload li .msg-wrapper{
	margin-left:50px;
	width: 180px;
}
li .msg-wrapper p{
	background: rgba(0, 0, 0, 0) url("../images/msg_bg.png") no-repeat scroll 8px 6px;
	background-color: #fff2f2;
    border: 1px solid #ffe1cc;
    color: #333;
    font-size: 12px;
    line-height: 13px;
    margin-top: 10px;
    padding: 8px 0 8px 36px;
}
#showProvinces .msg-wrapper{
	margin-left:0;
}
.sendMsg li .msg-wrapper{
	display:inline-block;
	margin-left:5px;
	width:auto;
}
.form-elem li .province-controls{
	line-height: 24px;
	width:330px;
	display: inline-block;
	float:left;
}
.form-elem li .province-controls input{
	width:auto;
	margin-right: 5px;
}
.ks-tabs {
  *zoom: 1;
}
.ks-tabs:before,
.ks-tabs:after {
  display: table;
  content: "";
}
.ks-tabs:after {
  clear: both;
}
.ks-tabs-bar {
  background-image: none;
  background-color: transparent;
  border-width: 0px;
  outline: none;
  filter: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 18px;
}
.ks-tabs-body {
  overflow: auto;
}

.ks-tabs-tab{
	cursor:pointer !important;
}

.table-tbody-div{
	height:400px;
	width:auto;
	overflow-y:scroll;
} 

.ks-tabs-body  > .ks-tabs-panel {
  display: none;
}
.ks-tabs-body  > .ks-tabs-panel-selected {
  display: block;
}
.ks-tabs-bar .ks-tabs-tab.ks-button {
  padding: 8px 12px 8px 12px;
  margin: 0;
  border: 1px solid transparent;
  color: #aeaeae;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background: none;
}
.ks-tabs-bar .ks-tabs-tab.ks-button.ks-tabs-tab-hover,
.ks-tabs-bar .ks-tabs-tab.ks-button:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
}
.ks-tabs-bar .ks-tabs-tab.ks-button.ks-tabs-tab-selected,
.ks-tabs-bar .ks-tabs-tab.ks-button.ks-tabs-tab-selected.ks-tabs-tab-active {
  color: #888888;
  background-color: #ffffff;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ks-tabs-top  > .ks-tabs-bar {
  *zoom: 1;
  border-bottom: 1px solid #bbbbbb;
}
.ks-tabs-top  > .ks-tabs-bar:before,
.ks-tabs-top  > .ks-tabs-bar:after {
  display: table;
  content: "";
}
.ks-tabs-top  > .ks-tabs-bar:after {
  clear: both;
}
.ks-tabs-top  > .ks-tabs-bar > .ks-tabs-tab {
  /*
    inline-block cause whitespace in ie67
    float is perfect
    */

  float: left;
  margin-right: 2px;
  display: inline;
  margin-bottom: -1px;
  border-radius: 4px 4px 0 0;
}
.ks-tabs-top  > .ks-tabs-bar > .ks-tabs-tab.ks-tabs-tab-selected,
.ks-tabs-top  > .ks-tabs-bar > .ks-tabs-tab.ks-tabs-tab-selected.ks-tabs-tab-active {
  border-color: #bbbbbb #bbbbbb transparent #bbbbbb;
  /* ie7 transparent border makes bar border leaks*/

  *border-bottom-color: white;
}
#package-tabs{
	width:300px;      float:left; 
	display:inline-block;
}
#package-tabs .tab-checkbox{
	width:auto;
}

#package-tabs .tab-text{
	width:50px;
}
#package-tabs table{
	margin:0;
	width:100%;
}


.ks-date-picker {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #9bc0e0;
    box-shadow: 1px 1px 0 #ccc;
    outline: medium none;
    position: relative;
    width: 215px;
}
.ks-popup-date-picker {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.ks-date-picker-hidden {
    display: none;
}
.ks-popup-date-picker-hidden {
    display: block;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}
.ks-date-picker-prev-month-btn, .ks-date-picker-next-month-btn, .ks-date-picker-prev-year-btn, .ks-date-picker-next-year-btn, .ks-date-picker-header {
    background-image: url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png");
}
.ks-ie6 .ks-date-picker-prev-month-btn, .ks-ie6 .ks-date-picker-next-month-btn, .ks-ie6 .ks-date-picker-prev-year-btn, .ks-ie6 .ks-date-picker-next-year-btn, .ks-ie6 .ks-date-picker-header {
    background-image: url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png");
}
.ks-date-picker-header {
    background-position: 0 -240px;
    background-repeat: repeat-x;
    height: 26px;
    line-height: 26px;
    position: relative;
    text-align: center;
}
.ks-date-picker-prev-month-btn, .ks-date-picker-next-month-btn, .ks-date-picker-prev-year-btn, .ks-date-picker-next-year-btn {
    height: 19px;
    position: absolute;
    top: 2px;
    width: 19px;
}
.ks-date-picker-prev-month-btn {
    background-position: 0 -60px;
    left: 24px;
}
.ks-date-picker-prev-month-btn:hover {
    background-position: 0 -80px;
}
.ks-date-picker-prev-year-btn {
    background-position: 0 -180px;
    left: 0;
}
.ks-date-picker-prev-year-btn:hover {
    background-position: 0 -200px;
}
.ks-date-picker-next-month-btn {
    background-position: 0 0;
    right: 24px;
}
.ks-date-picker-next-month-btn:hover {
    background-position: 0 -20px;
}
.ks-date-picker-next-year-btn {
    background-position: 0 -120px;
    right: 0;
}
.ks-date-picker-next-year-btn:hover {
    background-position: 0 -140px;
}
.ks-date-picker-month-select {
    border: 1px solid transparent;
    color: #ffffff;
    line-height: 26px;
}
.ks-ie6 .ks-date-picker-month-select {
    border-color: tomato;
}
.ks-ie7 .ks-date-picker-month-select, .ks-ie6 .ks-date-picker-month-select {
    position: relative;
    top: 5px;
}
.ks-date-picker-month-select-arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
    border-width: 4px 4px 0;
    font-size: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
}
.ks-ie7 .ks-date-picker-month-select-arrow {
    padding-top: 2px;
    vertical-align: bottom;
}
.ks-ie6 .ks-date-picker-month-select-arrow {
    border-left-color: tomato;
    border-right-color: tomato;
}
.ks-date-picker-month-select:hover .ks-date-picker-month-select-arrow {
    border-top-color: #f0ff00;
}
.ks-date-picker-month-select:hover {
    background: rgba(0, 0, 0, 0) url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png") repeat scroll 0 -268px;
    border: 1px solid #8cc6ff;
    color: #f0ff00;
}
.ks-date-picker-week-number-cell {
    line-height: 22px;
    text-align: center;
}
.ks-date-picker-week-number-header {
    text-indent: -9999px;
}
.ks-date-picker-table {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}
.ks-date-picker-column-header {
    color: black;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
    width: 25px;
}
.ks-date-picker-column-header-inner {
    border-bottom: 1px dashed #c9c9c9;
    display: block;
    padding-bottom: 4px;
}
.ks-date-picker-cell {
    text-align: center;
}
.ks-date-picker-date {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #004499;
    display: block;
    line-height: 22px;
    text-decoration: none;
}
.ks-ie6 .ks-date-picker-date {
    border-color: tomato;
}
.ks-date-picker-last-month-cell .ks-date-picker-date, .ks-date-picker-next-month-btn-day .ks-date-picker-date {
    color: #bfbfbf;
}
.ks-date-picker-date:hover {
    background-color: #f3f9ff;
    border-color: #88b1ea;
}
.ks-date-picker-disabled-cell .ks-date-picker-date {
    cursor: default;
}
.ks-date-picker-disabled-cell .ks-date-picker-date:hover {
    border-color: transparent;
}
.ks-ie6 .ks-date-picker-disabled-cell .ks-date-picker-date:hover {
    border-color: tomato;
}
.ks-date-picker-today .ks-date-picker-date {
    border-color: #7dba4e;
    color: #357c00;
}
.ks-date-picker-selected-day .ks-date-picker-date {
    background-color: #4187e7;
    border-color: #4187e7;
    color: #fff;
}
.ks-date-picker-footer {
    background-color: #f5f5f5;
    padding: 3px 0;
    text-align: center;
}
.ks-date-picker-today-btn, .ks-date-picker-clear-btn {
    background-color: #4187e7;
    border-color: #3375cf;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0 3px 0 2px;
    padding: 3px;
    text-decoration: none;
}
.ks-ie6 .ks-date-picker-today-btn, .ks-ie6 .ks-date-picker-clear-btn {
}
.ks-date-picker-today-btn:hover, .ks-date-picker-clear-btn:hover {
    color: #ffffff;
}
.ks-date-picker-decade-panel {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #9bc0e0;
    height: 100%;
    left: 0;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30;
}
.ks-ie6 .ks-date-picker-decade-panel {
}
.ks-date-picker-decade-panel-hidden {
    display: none;
}
.ks-date-picker-decade-panel-prev-century-btn, .ks-date-picker-decade-panel-next-century-btn, .ks-date-picker-decade-panel-header {
    background: rgba(0, 0, 0, 0) url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png") repeat scroll 0 0;
}
.ks-ie6 .ks-date-picker-decade-panel-prev-century-btn, .ks-ie6 .ks-date-picker-decade-panel-next-century-btn, .ks-ie6 .ks-date-picker-decade-panel-header {
    background-image: url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png");
}
.ks-date-picker-decade-panel-header {
    background-position: 0 -240px;
    background-repeat: repeat-x;
    height: 26px;
    position: relative;
    text-align: center;
}
.ks-date-picker-decade-panel-prev-century-btn, .ks-date-picker-decade-panel-next-century-btn {
    height: 19px;
    position: absolute;
    top: 2px;
    width: 19px;
}
.ks-date-picker-decade-panel-prev-century-btn {
    background-position: 0 -60px;
    left: 0;
}
.ks-date-picker-decade-panel-prev-century-btn:hover {
    background-position: 0 -80px;
}
.ks-date-picker-decade-panel-century {
    color: #ffffff;
    line-height: 26px;
    text-decoration: none;
}
.ks-date-picker-decade-panel-next-century-btn {
    background-position: 0 0;
    right: 0;
}
.ks-date-picker-decade-panel-next-century-btn:hover {
    background-position: 0 -20px;
}
.ks-date-picker-decade-panel-table {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}
.ks-date-picker-decade-panel-cell {
    height: 42px;
    text-align: center;
    vertical-align: middle;
}
.ks-date-picker-decade-panel-decade {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #004499;
    display: block;
    text-decoration: none;
}
.ks-ie6 .ks-date-picker-decade-panel-decade {
    border-color: tomato;
}
.ks-date-picker-decade-panel-decade:hover {
    background-color: #f3f9ff;
    border-color: #88b1ea;
}
.ks-date-picker-decade-panel-selected-cell .ks-date-picker-decade-panel-decade {
    background-color: #4187e7;
    border-color: #4187e7;
    color: #fff;
}
.ks-date-picker-decade-panel-last-century-cell .ks-date-picker-decade-panel-decade, .ks-date-picker-decade-panel-next-century-cell .ks-date-picker-decade-panel-decade {
    color: #bfbfbf;
}
.ks-date-picker-month-panel {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #9bc0e0;
    height: 100%;
    left: 0;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.ks-ie6 .ks-date-picker-month-panel {
}
.ks-date-picker-month-panel-hidden {
    display: none;
}
.ks-date-picker-month-panel-prev-year-btn, .ks-date-picker-month-panel-next-year-btn, .ks-date-picker-month-panel-header {
    background: rgba(0, 0, 0, 0) url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png") repeat scroll 0 0;
}
.ks-ie6 .ks-date-picker-month-panel-prev-year-btn, .ks-ie6 .ks-date-picker-month-panel-next-year-btn, .ks-ie6 .ks-date-picker-month-panel-header {
    background-image: url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png");
}
.ks-date-picker-month-panel-header {
    background-position: 0 -240px;
    background-repeat: repeat-x;
    height: 26px;
    position: relative;
    text-align: center;
}
.ks-date-picker-month-panel-prev-year-btn, .ks-date-picker-month-panel-next-year-btn {
    height: 19px;
    position: absolute;
    top: 2px;
    width: 19px;
}
.ks-date-picker-month-panel-prev-year-btn {
    background-position: 0 -60px;
    left: 0;
}
.ks-date-picker-month-panel-prev-year-btn:hover {
    background-position: 0 -80px;
}
.ks-date-picker-month-panel-year-select {
    border: 1px solid transparent;
    color: #ffffff;
    line-height: 26px;
    text-decoration: none;
}
.ks-ie7 .ks-date-picker-month-panel-year-select, .ks-ie6 .ks-date-picker-month-panel-year-select {
    position: relative;
    top: 5px;
}
.ks-ie6 .ks-date-picker-month-panel-year-select {
    border-color: tomato;
}
.ks-date-picker-month-panel-year-select-arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
    font-size: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
}
.ks-ie7 .ks-date-picker-month-panel-year-select-arrow {
    padding-top: 2px;
    vertical-align: bottom;
}
.ks-ie6 .ks-date-picker-month-panel-year-select-arrow {
    border-left-color: tomato;
    border-right-color: tomato;
}
.ks-date-picker-month-panel-year-select:hover .ks-date-picker-month-panel-year-select-arrow {
    border-top-color: #f0ff00;
}
.ks-date-picker-month-panel-year-select:hover {
    background: rgba(0, 0, 0, 0) url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png") repeat scroll 0 -268px;
    border: 1px solid #8cc6ff;
    color: #f0ff00;
}
.ks-date-picker-month-panel-next-year-btn {
    background-position: 0 0;
    right: 0;
}
.ks-date-picker-month-panel-next-year-btn:hover {
    background-position: 0 -20px;
}
.ks-date-picker-month-panel-table {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}
.ks-date-picker-month-panel-cell {
    text-align: center;
}
.ks-date-picker-month-panel-month {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #004499;
    display: block;
    line-height: 42px;
    text-decoration: none;
}
.ks-ie6 .ks-date-picker-month-panel-month {
    border-color: tomato;
}
.ks-date-picker-month-panel-month:hover {
    background-color: #f3f9ff;
    border-color: #88b1ea;
}
.ks-date-picker-month-panel-selected-cell .ks-date-picker-month-panel-month {
    background-color: #4187e7;
    border-color: #4187e7;
    color: #fff;
}
.ks-date-picker-year-panel {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #9bc0e0;
    height: 100%;
    left: 0;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}
.ks-ie6 .ks-date-picker-year-panel {
}
.ks-date-picker-year-panel-hidden {
    display: none;
}
.ks-date-picker-year-panel-prev-decade-btn, .ks-date-picker-year-panel-next-decade-btn, .ks-date-picker-year-panel-header {
    background: rgba(0, 0, 0, 0) url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png") repeat scroll 0 0;
}
.ks-ie6 .ks-date-picker-year-panel-prev-decade-btn, .ks-ie6 .ks-date-picker-year-panel-next-decade-btn, .ks-ie6 .ks-date-picker-year-panel-header {
    background-image: url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png");
}
.ks-date-picker-year-panel-header {
    background-position: 0 -240px;
    background-repeat: repeat-x;
    height: 26px;
    position: relative;
    text-align: center;
}
.ks-date-picker-year-panel-prev-decade-btn, .ks-date-picker-year-panel-next-decade-btn {
    height: 19px;
    position: absolute;
    top: 2px;
    width: 19px;
}
.ks-date-picker-year-panel-prev-decade-btn {
    background-position: 0 -60px;
    left: 0;
}
.ks-date-picker-year-panel-prev-decade-btn:hover {
    background-position: 0 -80px;
}
.ks-date-picker-year-panel-decade-select {
    color: #ffffff;
    line-height: 26px;
    text-decoration: none;
}
.ks-ie7 .ks-date-picker-year-panel-decade-select, .ks-ie6 .ks-date-picker-year-panel-decade-select {
    position: relative;
    top: 5px;
}
.ks-ie6 .ks-date-picker-year-panel-decade-select {
    border-color: tomato;
}
.ks-date-picker-year-panel-decade-select-arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
    font-size: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
}
.ks-ie7 .ks-date-picker-year-panel-decade-select-arrow {
    padding-top: 2px;
    vertical-align: bottom;
}
.ks-ie6 .ks-date-picker-year-panel-decade-select-arrow {
    border-left-color: tomato;
    border-right-color: tomato;
}
.ks-date-picker-year-panel-decade-select:hover .ks-date-picker-year-panel-decade-select-arrow {
    border-top-color: #f0ff00;
}
.ks-date-picker-year-panel-decade-select:hover {
    background: rgba(0, 0, 0, 0) url("//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png") repeat scroll 0 -268px;
    border: 1px solid #8cc6ff;
    color: #f0ff00;
}
.ks-date-picker-year-panel-next-decade-btn {
    background-position: 0 0;
    right: 0;
}
.ks-date-picker-year-panel-next-decade-btn:hover {
    background-position: 0 -20px;
}
.ks-date-picker-year-panel-table {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}
.ks-date-picker-year-panel-cell {
    text-align: center;
}
.ks-date-picker-year-panel-year {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #004499;
    display: block;
    line-height: 42px;
    text-decoration: none;
}
.ks-ie6 .ks-date-picker-year-panel-year {
    border-color: tomato;
}
.ks-date-picker-year-panel-year:hover {
    background-color: #f3f9ff;
    border-color: #88b1ea;
}
.ks-date-picker-year-panel-selected-cell .ks-date-picker-year-panel-year {
    background-color: #4187e7;
    border-color: #4187e7;
    color: #fff;
}
.ks-date-picker-year-panel-last-decade-cell .ks-date-picker-year-panel-year, .ks-date-picker-year-panel-next-decade-btn-cell .ks-date-picker-year-panel-year {
    color: #bfbfbf;
}
.ui-dialog-window {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    *border:2px #e9f1f4 solid;
    padding: 1px;
    position: absolute;
    visibility: hidden;
    z-index:999;
    width:580px;
}
.ui-dialog-entity {
    position: relative;
}
.ui-dialog-head {
    cursor: move;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #E4E4E4;
}
.ui-dialog-head .J_Title{
	font-weight:bold;
	font-family: "Microsoft YaHei";
}
.ui-dialog-foot{
height: 40px;
border-top: 1px solid #E4E4E4;
}
.ui-dialog-window .btn-close {
    background-image: url("../images/cls.gif");
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-bottom: 1px solid #E4E4E4;
    position: absolute;
    right: 5px;
    top: 5px;
}

.ui-dialog-mask, .mask-transparent {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
}
.ui-dialog-mask {
    background-color: #000;
    opacity:0.3;
    filter : alpha(opacity=50);
    position:absolute;
    z-index:998;
    text-align:center;
}
.mask-transparent {
    background-color: #FFFFFF;
    opacity: 0.3;
    filter : alpha(opacity=30);
}
.ui-dialog-entity .loading-sys {
    background-image: none;
    padding: 10px 0;
    text-align: center;
}
.ui-dialog-entity {
    position: relative;
}
.ui-dialog-entity .loadmask {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
}
.ui-dialog-entity .loadmask .loading {
    background-color: #FFF2F2;
    background-position: 3px 50%;
    border: 1px solid #FF8080;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    padding: 2px 0 2px 23px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 115px;
}
.channel-div span{
	display: inline-block;
    float: left;
    padding-left: 5px;
    text-align: left;
    width: 160px;
}
.channel-div span.hidden{display:none;}

.ui-dialog-body {
	padding:20px;
	 background: none repeat scroll 0 0 #FFFAE5;
	 color:#666;
	}
.popup-body{
overflow:auto;
line-height:25px;
}
.popup-body div{
text-align:center;
}
.ui-dialog-mask .process{
	background: url("../images/process.gif") no-repeat scroll 0 center transparent;
    display: inline-block;
    vertical-align: middle;
    width:32px;
    height:32px;
}

.popup-channel-selected{height:22px;width:45px;}
.popup-hide{height:22px;width:45px;}
.popup-hide,.popup-btn{height:22px;width:45px;}
ul.distribute-card-form li{
	line-height:30px;
	margin:20px 0;
	text-align:left;
	font-weight:bold;
}
ul.distribute-card-form li select{
	border:solid 1px #CED5E0;
	font-size:12px;
	padding:3px;
	width:230px;
}
ul.distribute-card-form li button{
	background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #d3eaef;
    font-size: 12px;
    margin-left: 85px;
    padding: 5px 10px;
}
.upload dl dd li.limit-setting{width:100%;}
dl dd li.limit-setting{display:block;}
dl dd li.limit-setting table{float: left; }
dl dd li.limit-setting table th{width:100px;text-align:left;padding: 5px;}
dl dd li.limit-setting table td{width:120px;text-align:left;padding: 5px;}
dl dd li.limit-setting input{width:auto;}