<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<!-- 配置SpringMVC -->

	<bean class="com.shlr.gprs.listenner.InitListener"></bean>

	<!-- <bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=utf-8</value>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean> -->

	<!-- 开启SpringMVC注解模式 -->
	<mvc:annotation-driven />


	<mvc:resources location="/WEB-INF/assets/css/" mapping="/common/css/**" />
	<mvc:resources location="/WEB-INF/assets/fonts" mapping="/common/fonts/**" />
	<mvc:resources location="/WEB-INF/assets/i" mapping="/common/i/**" />
	<mvc:resources location="/WEB-INF/assets/js" mapping="/common/js/**" />
	<mvc:default-servlet-handler />

	<!-- 配置jsp 显示ViewResolver -->
	<bean id="viewResolverJsp"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>


	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--下面设置的是上传文件的最大大小 -->
		<property name="maxUploadSize" value="10240000000" />
	</bean>

	<!-- 扫描web相关的bean -->
	<context:component-scan base-package="com.shlr.gprs.*">
		<!-- 制定扫包规则 ,只扫描使用@Controller注解的JAVA类 -->
		<!-- <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/> -->
	</context:component-scan>

	<bean id="druid-stat-interceptor"
		class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
	</bean>

	<bean id="druid-type-proxyCreator"
		class="com.alibaba.druid.support.spring.stat.BeanTypeAutoProxyCreator">
		<!-- 所有ABCInterface的派生类被拦截监控 -->
		<property name="targetBeanType" value="com.shlr.gprs.services.DruidStatInterceptor" />
		<property name="interceptorNames">
			<list>
				<value>druid-stat-interceptor</value>
			</list>
		</property>
	</bean>

	<mvc:interceptors>
		<bean class="com.shlr.gprs.interceptor.AllInterceptor" />
	</mvc:interceptors>

</beans>